h1{
    color: #14cc70;
    font-size: 24px;
    margin-bottom: 20px;
    background: #252c13;
    padding: 10px;
    box-shadow: #a4d61a 0px 4px 0px, #a4d61a 0px 8px 0px;
}
h3{
    color: #a4d61a;
    font-size: 18px;
    margin-bottom: 15px;
    box-shadow: inset 0 -2px 0 #252c13;
    padding-bottom: 5px;
    font-style: oblique;
}
li{
    color: #cc142d;
    font-size: 16px;
    margin-bottom: 10px;
}